<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">lugfl.de</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.lugfl.de/" target="_blank">www.serverWg.de</a>
            <a class="navbar-item" href="https://gitlab.com/lugfl" target="_blank">Gitlab</a>
            <a class="navbar-item" href="https://github.com/lugfl" target="_blank">Github</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

